body {
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  margin: 25px 0 23px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  margin-bottom: 55px;
}

.container {
  margin: 85px 270px 20px;
}


.cars {
  /* margin-top: 85px; */
  width: 280px;
  height: 450px;
  padding: 38px 52px;
}

.sedan {
  /* margin-left: auto; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: hsl(31, 77%, 52%);
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  /* margin-right: auto; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: hsl(179, 100%, 13%);
}

.buttons {
  border-style: solid;
  border-color: hsl(0, 0%, 95%);
  border-radius: 35px;
  background-color: hsl(0, 0%, 95%);
  padding: 7px 25px;
}

.buttons:hover {
  background-color:rgba(0,0,0,0);
  color: hsl(0, 0%, 95%);
}

.bt1 {
  color: hsl(31, 77%, 52%);
}

.bt2 {
  color: hsl(184, 100%, 22%);
}

.bt3 {
  color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(31, 77%, 52%);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(184, 100%, 22%);
}


@media (max-width:1028px)  {
 .container {
    margin: 30px 20px;
 }

 .sedan {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 0;
 }

 .luxury {
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 0;
 }
}
